.Keypad-btn-container {
  height: 84px;
}

.Keypad-button {
  background: #a5a5a5;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 32px;
  line-height: 67px;
  padding: 0;
  text-align: center;
  transition: all 50ms ease-out;
}
.Keypad-button:active {
  background: #fff;
}

.Keypad-operator {
  background: #fe9504;
  color: #fff;
  transition: all 300ms ease-in-out;
}

.Keypad-operator:focus {
  background: #fff;
  color: #fe9504;
}

.Keypad-digit {
  background: #333333;
  color: #fff;
}
.Keypad-digit:active {
  background: #777777;
  color: #fff;
}

.Keypad-zero {
  border-radius: 40px;
  padding-left: 25px;
  text-align: left;
}
