.Keypad-btn-container {
  height: 84px;
}

.Keypad button {
  font-size: 32px;
  background: #a5a5a5;
  line-height: 64px;
  border: none;
}
.Keypad .op {
  background: #fe9504;
  color: #fff;
}
.Keypad .num {
  background: #333333;
  color: #fff;
}

.Keypad-zero {
  border-radius: 40px;
}
